.container{
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: repeat(auto-fit,minmax(100px,1fr));
}   

.header{
    display: grid;
    grid-row: span 1;
    grid-column: span 1;
    background-color: aqua;
    grid-column-start: 2;
}

.sidebar{
    display: grid;
    grid-column: span 1;
    grid-row: span 2;
    background-color: beige ;
}
p{
    font-size:xx-large;
}

.content{
    display: grid;
    grid-column-start: 2;
}